bounding_box_imgs
.gradle
.vscode
*.mp4
*.mov
.DS_Store
ios
examples-main*
tulsi
bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
node_modules/
.configure.bazelrc
.user.bazelrc
